<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de búsqueda de películas</title>
</head>
<body>
    <h1>Películas encontradas:</h1>
    <ul>
        <% movies.forEach(movie => { %>
            <li style="width: 40%;"><p><%= movie.Title %></p></li>
            
                <% }); %>
            </ul>
    </ul>
</body>
</html>